<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="FootballCoachConnectionString" connectionString="Data Source=MELNYNETPC\SQLSERVER;Initial Catalog=FootballCoach;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>